tls:
  certificates:
    - certFile: /etc/traefik/ssl/fullchain.pem
      keyFile: /etc/traefik/ssl/privkey.pem
      stores:
        - default
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/ssl/fullchain.pem
        keyFile: /etc/traefik/ssl/privkey.pem

http:
  routers:
{% for item in containers %}
    {{ item.name }}_route:
      entryPoints:
      - "web"
      - "web-secure"
      middlewares:
      - secure_mw
      service: {{ item.name }}_service
      rule: "Host(`{{ item.name }}.gradin.no`)"
      tls:
        options: default@file
{% endfor %}

  services:
{% for item in containers %}
    {{ item.name }}_service:
      loadBalancer:
        servers:
        - url: {{ item.url }}
{% endfor %}

  middlewares:
    secure_mw:
      redirectScheme:
        scheme: https

